.Rproj.user
.Rhistory
.RData
.Ruserdata
merged_r6_data_2016_36countries2.sav
merged_r3_data.sav
merged-round-5-data-34-countries-2011-2013-last-update-july-2015.sav
merged_r1_data.sav
merged_r2_data.sav
